.doc {
  width: 80%;
  margin: 0 auto;
  article {
    font-size: 1rem;
    text-align: justify;
    box-sizing: border-box;
    border: .1rem solid #ff01ba;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
  }

  .read {
    text-align: right;
    margin: 1rem 0;
  }
}
